.poster {
    object-fit: cover;
}

ion-searchbar {
    padding: 0 12px 0 12px;
}

ion-card {
    margin: 16px;
}

.movie-list {
    margin: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    div {
        aspect-ratio: 2/3;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        img {
            aspect-ratio: 2/3;
        }
        .badge {
            background: #6eb369;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 4px;
            right: 4px;
            z-index: 2;
        }
    }
}