<ion-header>
  <ion-button class="dismiss" (click)="dismiss()">
    <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    Return
  </ion-button>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <div class="add-tracker">
      <ion-button (click)="updateTracker('Watched')" size="small">
        <ng-container *ngIf="!trackerLoading['Watched']; else watchedSpinner">
          Watched
        </ng-container>
        <ng-template #watchedSpinner>
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-template>
      </ion-button>
      <ion-button (click)="updateTracker('To Watch')" size="small">
        <ng-container *ngIf="!trackerLoading['To Watch']; else toWatchSpinner">
          To Watch
        </ng-container>
        <ng-template #toWatchSpinner>
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-template>
      </ion-button>
      <ion-button (click)="updateTracker('In Progress')" size="small">
        <ng-container *ngIf="!trackerLoading['In Progress']; else inProgressSpinner">
          In Progress
        </ng-container>
        <ng-template #inProgressSpinner>
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-template>
      </ion-button>
      <ion-button (click)="remove()" size="small" color="danger">
        <ng-container *ngIf="!trackerLoading['Remove']; else inProgressSpinner">
          Remove
        </ng-container>
        <ng-template #inProgressSpinner>
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-template>
      </ion-button>
    </div>
    <img class="poster" alt="Silhouette of mountains"
      [src]="data.Poster === 'N/A' ? 'https://ionicframework.com/docs/img/demos/card-media.png' : data.Poster" />
    <ion-card-header>
      <ion-card-title>{{data.Title}}</ion-card-title>
      <ion-card-subtitle>{{data.Type | toTitleCase}}</ion-card-subtitle>
      <ion-card-subtitle>{{data.Year}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content *ngIf="!loading && details">
      <div class="remarks" *ngIf="details?.Remarks">
        <ion-badge (click)="openRate('jujuba')"
          [style]="'--background: transparent;border: 1px solid #e0d6ff;font-weight: 100;'">
          <img src="../../assets/Macaroon.svg" />
          <div>
            <ion-icon name="star" *ngFor="let _ of remarks.jujuba.fullStars"></ion-icon>
            <ion-icon name="star-half" *ngFor="let _ of remarks.jujuba.halfStar"></ion-icon>
            <ion-icon name="star-outline" *ngFor="let _ of remarks.jujuba.remainingStars"></ion-icon>
          </div>
          <div class="preview">{{review['jujuba']}}</div>
        </ion-badge>
        <ion-badge (click)="openRate('tito')"
          [style]="'--background: transparent;border: 1px solid #f76565;font-weight: 100;'">
          <img src="../../assets/Pompom.svg" />
          <div>
            <ion-icon name="star" *ngFor="let _ of remarks.tito.fullStars"></ion-icon>
            <ion-icon name="star-half" *ngFor="let _ of remarks.tito.halfStar"></ion-icon>
            <ion-icon name="star-outline" *ngFor="let _ of remarks.tito.remainingStars"></ion-icon>
          </div>
          <div class="preview">{{review['tito']}}</div>
        </ion-badge>
      </div>
      <div class="ratings">
        <ion-badge *ngFor="let r of details?.Ratings; let i = index"
          [style]="'--background: transparent;border: 1px solid '+colors[i]+';font-weight: 100;'">{{r.Source}} -
          {{r.Value}}</ion-badge>
      </div>
      <p>{{details.Plot}}</p>
    </ion-card-content>
    <ion-card-content *ngIf="loading">
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-card-content>
  </ion-card>
</ion-content>
<div class="rating-modal" [class.visible]="toRate">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button class="cancel" *ngIf="!changedRate" (click)="closeRate()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="save" *ngIf="changedRate" (click)="rate()">
      <ion-icon color="green" name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h2>How good was the show, {{selectedRater}}?</h2>
  <div class="relative">
    <div class="center rating">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>
    <div class="center overwrapper">
      <div class="rating overview" [style.width]="64 * currentRate + 'px'">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>
    </div>
    <ion-range class="center invisible" min="0" max="5" pin="true" snaps="true" step=".5" ticks="true" value="0"
      color="primary" [value]="data.Remarks[selectedRater]" (ionChange)="changeRate($event)">
    </ion-range>
  </div>
  <div></div>
  <div class="text-rating">
    <ion-textarea [(ngModel)]="review[selectedRater]" (ionInput)="touchRate()" [autoGrow]="true" fill="outline" placeholder="Type your review here"></ion-textarea>
  </div>
</div>